{% extends "customadmin/dashboard.html" %}

{% block contant %}


    {% if current_user.role.name == "Superuser" %}
    <div class="text-right">
      <a href="{{url_for('customadmin.add_post')}}"><h3 class="mx-5 my-3 btn btn-dark">Add New Post</h3></a>
    </div>
    {% endif %}
  
<table id="post-table" class="table table-striped m-auto mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Caption</th>
        <th scope="col">Image</th>
        <th scope="col">User</th>
        <th scope="col">Likes</th>
        <th scope="col">Comments</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <th scope="row">{{post.id}}</th>
        <td>{{post.caption}}</td>
        <td>{{post.image}}</td>
        <td>{{post.user.username}}</td>
        <td>{{post.likes|length}}</td>
        <td>{{post.comment|length}}</td>
        <td>
            {% if current_user.role.name == "Superuser" %}
            <a href="{{url_for('customadmin.post_update', post_id=post.id)}}" class="btn btn-warning">Edit</a>
            <a href="" class="btn btn-danger mx-2 delete-post-customadmin" data-postid="{{post.id}}">Delete</a>
            {% endif %}
            <a href="{{url_for('customadmin.post_detail', post_id=post.id)}}" class="btn btn-info">View</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock contant %}