{% extends "customadmin/dashboard.html" %}

{% block contant %}
<div class="m-5">
    <h2>Caption : {{post.caption}}</h2>
    <hr>
    <h2>Image : {{post.image}}</h2>
    <img src="{{url_for('static', filename='images/'+post.image)}}" alt="" style="height: 250px;">
    <hr>
    <h2>Post by : {{post.user.username}}</h2>
    <hr>
    <h2>Created at : {{post.created_at.strftime('%Y-%m-%d')}}</h2>
    <hr>
    <h2>Likes : {{post.likes|length}}</h2>
    {% for like in post.likes %}
        <h2 class="ml-5">Liked by : {{like.user.username}}</h2>
    {% endfor %}
    <hr>
    <h2>Comments : {{post.comment|length}}</h2>
    {% for comment in post.comment %}
        <h2 class="ml-5">Comment by : {{comment.user.username}}</h2>
        <h2 class="ml-5">Comment : {{comment.comment}}</h2>
    {% endfor %}

</div>
{% endblock contant %}