{% extends "base.html" %}

{% block title %}
<title>Posts</title>
{% endblock title %}

{% block contant %}
<h1 class="m-5">All Posts</h1>
{% for post in posts %}
<div class="m-auto w-75">
    <div class="jumbotron mt-3 d-flex">
        <img src="{{ url_for('static', filename='images/'+post.image) }}" alt="" class="w-25 h-25">
        <div class="ml-5">
            <h3 class="display-4">Post by - {{ post.user.username }}</h3>
            <p class="lead">{{ post.caption }}</p>
            <hr class="my-4">
            <p>{{ post.created_at.strftime('%Y-%m-%d') }}</p>
            <p>Likes : {{ post.likes|length }}</p>
            <p class="lead">

                {% if current_user == post.user %}
                    <a class="btn btn-dark btn-lg" href="{{ url_for('post.update_post', post_id=post.id) }}" role="button">Edit</a>
                    <a class="btn btn-danger btn-lg delete-post" data-postid="{{post.id}}" href="javascript:void(0);" role="button">Delete</a>
                {% else %}
                    <form method="POST" action="{{ url_for('post.add_comment', post_id=post.id) }}" class="comment-form comment-form-{{post.id}} d-none">
                        <textarea class="form-control" name="comment" id="" cols="60" rows="5"></textarea>
                        <input type="submit" value="Submit" class="btn btn-success mt-2">
                    </form>
                    <a class="btn btn-primary btn-lg comment-button" data-postid="{{post.id}}" href="javascript:void(0);" role="button">Comment</a>
                    <a class="btn btn-info btn-lg view-post-button" id="view-post-{{post.id}}" data-postid="{{post.id}}" href="{{ url_for('post.post_detail', post_id=post.id) }}" role="button">View Post</a>

                    {% if post.likes|length < 1 %}
                        <a class="btn btn-warning btn-lg like-button" data-postid="{{post.id}}" href="javascript:void(0);" role="button">Like</a>
                    {% endif %}

                    {% for like in post.likes if like in current_user.like %}
                        {% if loop.last %}
                            <a class="btn btn-danger btn-lg dislike-button" data-likeid="{{like.id}}" href="javascript:void(0);" role="button">Disike</a>
                        {% endif %}
                    {% endfor %}

                    {% for like in post.likes if like not in current_user.like %}
                        {% if loop.last %}
                            <a class="btn btn-warning btn-lg like-button" data-postid="{{post.id}}" href="javascript:void(0);" role="button">Like</a>
                        {% endif %}
                    {% endfor %}

                {% endif %}
                <hr class="my-4">
                <h4>Comments :</h4>
                {% for comment in post.comment[0:2] %}
                    <h6 class="mt-2">{{comment.user.username}}</h6>
                    <p>{{comment.comment}}</p>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endfor %}


<div class="my-5 text-center">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a href="{{ url_for('post.posts', page=page_num) }}" class="btn btn-info">{{page_num}}</a>
            {% else %}
                <a href="{{ url_for('post.posts', page=page_num) }}" class="btn btn-outline-info">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>
{% endblock contant %}