{% extends "base.html" %}

{% block title %}
<title>Posts Detail</title>
{% endblock title %}

{% block contant %}
<div class="jumbotron m-5 text-center">
    <img src="{{ url_for('static', filename='images/'+post.image) }}" alt="" class="w-25 h-25">
    <h1 class="display-4">Post by - {{ post.user.username }}</h1>
    <p class="lead">{{ post.caption }}</p>
    <hr class="my-4">
    <p>{{ post.created_at }}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

{% endblock contant %}