{% extends "base.html" %}

{% block title %}
<title>Users</title>
{% endblock title %}

{% block contant %}
<h1 class="m-5">All Users</h1>
{% for user in users %}
<div class="container m-5 d-flex">
    <img src="{{ url_for('static', filename='images/'+user.profile_picture) }}" alt="" class="w-25 h-25">
    <div class="ml-5">
        <h3>{{user.username}}</h3>
        <p>{{user.email}}</p>
        {% if user in current_user.following %}
        <a href="{{ url_for('user.remove_user', user_id=user.id) }}" class="btn btn-danger">Remove Following</a>
        {% else %}
        <a href="{{ url_for('user.follow_user', user_id=user.id) }}" class="btn btn-primary">Connect</a>
        {% endif %}
        <a href="{{ url_for('user.profile_detail', username=user.username) }}" class="btn btn-warning">View Profile</a>
    </div>
</div>
{% endfor %}

<div class="my-5 text-center">
    {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_num %}
            {% if users.page == page_num %}
                <a href="{{ url_for('user.users', page=page_num) }}" class="btn btn-info">{{page_num}}</a>
            {% else %}
                <a href="{{ url_for('user.users', page=page_num) }}" class="btn btn-outline-info">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>
{% endblock contant %}