<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <input type="submit" class="btn btn-info" value="Get Images" id="get_all_images">
    <!-- <img src="" alt="" class="d-none" id="scrape-images"> -->
    <script src="/flask_module/static/js/jquery.js"></script>
    <script src="/flask_module/static/js/scrape_images.js"></script>
</body>
</html>